body {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: url('./Cursor.svg'), auto;
  }
  
  a, button {
    cursor: url('./Pointer.svg'), pointer;
  }