body {
    font-family: 'Inconsolata', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: url('./Cursor.svg'), auto;
    background-color: #F8FAFB;
  }
  
  a, button, img {
    cursor: url('./Pointer.svg'), pointer;
  }